:root {
  /* Color styles */
  --material-theme--white: rgba(255, 255, 255, 1);
  --material-theme--black: rgba(0, 0, 0, 1);
  --light-primary: #00214b;
  --light-surface-tint: rgb(46 93 167);
  --light-on-primary: rgb(255 255 255);
  --light-primary-container: rgb(0 65 136);
  --light-on-primary-container: rgb(255 255 255);
  --light-secondary: #12223d;
  --light-on-secondary: rgb(255 255 255);
  --light-secondary-container: rgb(52 67 95);
  --light-on-secondary-container: rgb(255 255 255);
  --light-tertiary: rgb(0 0 0);
  --light-on-tertiary: rgb(255 255 255);
  --light-tertiary-container: rgb(38 38 38);
  --light-on-tertiary-container: rgb(255 255 255);
  --light-error: rgb(78 0 2);
  --light-on-error: rgb(255 255 255);
  --light-error-container: rgb(140 0 9);
  --light-on-error-container: rgb(255 255 255);
  --light-background: rgb(249 249 255);
  --light-on-background: rgb(26 28 32);
  --light-surface: rgb(249 249 255);
  --light-on-surface: rgb(0 0 0);
  --light-surface-variant: rgb(223 226 239);
  --light-on-surface-variant: rgb(32 36 45);
  --light-outline: rgb(63 67 77);
  --light-outline-variant: rgb(63 67 77);
  --light-shadow: rgb(0 0 0);
  --light-scrim: rgb(0 0 0);
  --light-inverse-surface: rgb(46 48 53);
  --light-inverse-on-surface: rgb(255 255 255);
  --light-inverse-primary: rgb(229 236 255);
  --light-primary-fixed: rgb(0 65 136);
  --light-on-primary-fixed: rgb(255 255 255);
  --light-primary-fixed-dim: rgb(0 43 95);
  --light-on-primary-fixed-variant: rgb(255 255 255);
  --light-secondary-fixed: rgb(52 67 95);
  --light-on-secondary-fixed: rgb(255 255 255);
  --light-secondary-fixed-dim: rgb(29 45 72);
  --light-on-secondary-fixed-variant: rgb(255 255 255);
  --light-tertiary-fixed: rgb(67 67 67);
  --light-on-tertiary-fixed: rgb(255 255 255);
  --light-tertiary-fixed-dim: rgb(45 45 45);
  --light-on-tertiary-fixed-variant: rgb(255 255 255);
  --light-surface-dim: rgb(217 217 224);
  --light-surface-bright: rgb(249 249 255);
  --light-surface-container-lowest: rgb(255 255 255);
  --light-surface-container-low: rgb(243 243 250);
  --light-surface-container: rgb(237 237 244);
  --light-surface-container-high: rgb(232 231 238);
  --light-surface-container-highest: rgb(226 226 233);
  --dark-primary: rgb(171 199 255);
  --dark-surface-tint: rgb(171 199 255);
  --dark-on-primary: rgb(0 47 102);
  --dark-primary-container: rgb(0 57 120);
  --dark-on-primary-container: rgb(180 205 255);
  --dark-secondary: #b7c7e9;
  --dark-on-secondary: #21304c;
  --dark-secondary-container: rgb(46 61 89);
  --dark-on-secondary-container: rgb(193 209 244);
  --dark-tertiary: rgb(198 198 198);
  --dark-on-tertiary: rgb(48 48 48);
  --dark-tertiary-container: rgb(0 0 0);
  --dark-on-tertiary-container: rgb(150 150 150);
  --dark-error: rgb(255 180 171);
  --dark-on-error: rgb(105 0 5);
  --dark-error-container: rgb(147 0 10);
  --dark-on-error-container: rgb(255 218 214);
  --dark-background: rgb(17 19 24);
  --dark-on-background: rgb(226 226 233);
  --dark-surface: rgb(17 19 24);
  --dark-on-surface: rgb(226 226 233);
  --dark-surface-variant: rgb(67 71 81);
  --dark-on-surface-variant: rgb(195 198 210);
  --dark-outline: rgb(141 144 156);
  --dark-outline-variant: rgb(67 71 81);
  --dark-shadow: rgb(0 0 0);
  --dark-scrim: rgb(0 0 0);
  --dark-inverse-surface: rgb(226 226 233);
  --dark-inverse-on-surface: rgb(46 48 53);
  --dark-inverse-primary: rgb(46 93 167);
  --dark-primary-fixed: rgb(215 226 255);
  --dark-on-primary-fixed: rgb(0 27 63);
  --dark-primary-fixed-dim: rgb(171 199 255);
  --dark-on-primary-fixed-variant: rgb(7 69 141);
  --dark-secondary-fixed: rgb(215 226 255);
  --dark-on-secondary-fixed: rgb(10 27 54);
  --dark-secondary-fixed-dim: rgb(183 199 233);
  --dark-on-secondary-fixed-variant: rgb(56 71 100);
  --dark-tertiary-fixed: rgb(226 226 226);
  --dark-on-tertiary-fixed: rgb(27 27 27);
  --dark-tertiary-fixed-dim: rgb(198 198 198);
  --dark-on-tertiary-fixed-variant: rgb(71 71 71);
  --dark-surface-dim: rgb(17 19 24);
  --dark-surface-bright: rgb(55 57 62);
  --dark-surface-container-lowest: rgb(12 14 19);
  --dark-surface-container-low: rgb(26 28 32);
  --dark-surface-container: rgb(30 32 36);
  --dark-surface-container-high: rgb(40 42 47);
  --dark-surface-container-highest: rgb(51 53 58);
}
